@font-face {
  font-family: "DM Sans";
  src: url("../fonts/Dm-Sans-Variable.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "HackNF Regular";
  src: url("../fonts/HackNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
}

:root {
  /* Typefaces */
  --dm-sans: "DM Sans", sans-serif;
  --hack-nf: "HackNF Regular", monospace;

  /* Colors (Default to DarkTheme) */
  --c-bg: #212529;
  --c-secBg: #343a40;
  --c-onBg: rgba(33, 37, 41, 0.16);
  --c-primary: #f8f9fa;
  --c-secondary: #dee2e6;
  --c-tertiary: #adb5bd;
  --c-accent: #42a0fd;
}

/* Fonts */

.heading-2 {
  font-family: var(--dm-sans);
  font-size: 24px;
  font-weight: 600;
}

.heading-3 {
  font-family: var(--dm-sans);
  font-size: 18px;
  font-weight: 500;
}

.title-1 {
  font-family: var(--hack-nf);
  font-size: 20px;
  font-weight: 700;
}

.title-2 {
  font-family: var(--hack-nf);
  font-size: 16px;
  font-weight: 400;
}

.title-3 {
  font-family: var(--hack-nf);
  font-size: 14px;
  font-weight: 400;
}

.body-1 {
  font-family: var(--dm-sans);
  font-size: 16px;
  font-weight: 400;
}

.body-2 {
  font-family: var(--dm-sans);
  font-size: 14px;
  font-weight: 400;
}

.body-3 {
  font-family: var(--dm-sans);
  font-size: 14px;
  font-weight: 300;
  line-height: 2ch;
}

/* Spaces */

.space-w-1 {
  width: 8px;
}

.space-w-2 {
  width: 12px;
}

.space-w-3 {
  width: 16px;
}

.space-w-4 {
  width: 20px;
}

.space-w-5 {
  width: 24px;
}

.space-h-1 {
  height: 8px;
}

.space-h-2 {
  height: 12px;
}

.space-h-3 {
  height: 16px;
}

.space-h-4 {
  height: 20px;
}

.space-h-5 {
  height: 24px;
}

.space-h-6 {
  height: 32px;
}

/* Border Radius */

.radius-1 {
  border-radius: 4px;
}

.radius-2 {
  border-radius: 8px;
}

.radius-3 {
  border-radius: 16px;
}

.radius-4 {
  border-radius: 24px;
}

/* Icons */

.icon {
  font-family: var(--hack-nf);
  font-size: 20px;
  width: 18px;
  height: 20px;
  color: var(--c-primary);
}

.icon-secondary {
  font-family: var(--hack-nf);
  font-size: 16px;
  width: 14px;
  height: 18px;
  color: var(--c-secondary);
}

.icon-tertiary {
  font-family: var(--hack-nf);
  font-size: 14px;
  width: 12px;
  height: 16px;
  color: var(--c-primary);
}

/* Core Styles */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--dm-sans);
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Reusable components styles */

body .main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wallpaper-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.icon-div {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--c-onBg);
  text-decoration: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: start;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}

/* Scrollbar */

/* The scrollbar's width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* The background of the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--c-onBg);
  /* border-radius: 2px; */
}

/* The handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--c-secBg);
  border-radius: 2px;
}

/* The thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-bg);
}
